.navbar {
    height: 80px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .spotify-logo {
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .nav-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    width: 40%;
  }
  
  .search-input {
    margin: 0;
    border: none;
    background-color: #2a2a2a;
    border-radius: 100px;
    width: 100%;
    color: white;
    font-size: 14px;
    height: 40px;
  }
  
  .search-input::placeholder {
    color: gray;
  }
  
  .nav-icon {
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
  
  .nav-icon:hover {
    color: #1db954;
  }