.leftcontent {
    background-color: #000;
    width: 80px;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 6px;
    overflow-y: auto;
  }
  
  .icon-lib
  {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px 10px;
    border: 1px solid #faf9f9
  }

  .icon-lib {
    background-color: rgb(12, 97, 48);
  }

  .icon-lib:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .playlist-section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
    align-items: center;
  }
  
  .playlist-img {
    width: 55px;
    height: 55px;
    /* border-radius: 50%; */
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease;
    padding: 8px 8px;
  }
  
  .playlist-img:hover {
    /* transform: scale(1.05); */
    background-color: #464444d0;
  }
  

  