.home_style{
background-color: black;
height: 100vh;
font-family: Arial, Helvetica, sans-serif, serif;
}
/* navbar */
.navbar {
    position: sticky;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    /* background-color: green; */
    border-radius: 0px 0px 10px 10px;
}

.center-group {
display: flex;
align-items: center;
gap: 10px; 
}


.input-container {
position: relative;
display: flex;
align-items: center;
}

.search {
padding: 8px 8px 8px 50px;
border: 1px solid #ccc;
height: 30px;
border-radius: 25px;
outline: none;
width: 400px;
}

.input-icon {
position: absolute;
left: 10px;
color: gray;
}

/* musicPlayer */
.musicPlayer {
position: fixed;
bottom: 0;
left: 0;
width:100%;
background-color: rgb(65, 65, 99);
height: 80px;
/* border-radius: 20px 20px 0px 0px; */
display: flex;
justify-content: center;
align-items: center;
color: white;
padding: 10px;
}

/* content */
.content {
display: grid;
grid-template-columns: 1fr 7fr 2fr; 
gap: 20px;
padding: 20px;
height: calc(100vh - 240px); 
}


.left-content, .center-content, .right-content {
background-color: #333;
padding: 20px;
border-radius: 10px;
height: 100%; 
overflow-y: auto; 
}

.left-content::-webkit-scrollbar,
.center-content::-webkit-scrollbar,
.right-content::-webkit-scrollbar {
width: 8px; /* Độ rộng thanh cuộn */
}

.left-content::-webkit-scrollbar-thumb,
.center-content::-webkit-scrollbar-thumb,
.right-content::-webkit-scrollbar-thumb {
background-color: transparent; /* Ẩn khi không cuộn */
}

.left-content:hover::-webkit-scrollbar-thumb,
.center-content:hover::-webkit-scrollbar-thumb,
.right-content:hover::-webkit-scrollbar-thumb {
background-color: #888; /* Hiện khi hover */
}

.center-content {
/* background: linear-gradient(to bottom, green, rgba(0, 255, 0, 0)); */
background-color: #333;
padding: 20px;
border-radius: 10px;
}

@media (max-width: 768px) {
.content {
    grid-template-columns: 100%; 
}

.left-content, .right-content {
    display: none;
}
}
/* playlistgrid */
.grid-container {
display: flex;
flex-wrap: wrap;
gap: 20px;
padding: 20px;
}

.grid-item {
display: flex;
align-items: center;
background-color: #888;
padding: 10px;
border-radius: 8px;
box-sizing: border-box;
width: calc(25% - 20px); 
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

@media (max-width: 1024px) {
.grid-item {
    width: calc(33.33% - 20px); /* 3 ô trên 1 hàng */
}
}

@media (max-width: 768px) {
.gird-item {
    width: calc(50% - 20px); /* 2 ô trên 1 hàng */
}
}

@media (max-width: 480px) {
.gird-item {
    width: calc(100% - 20px); /* 1 ô trên 1 hàng */
}
}


.grid-item img {
width: 50px;
height: 50px;
border-radius: 4px;
margin-right: 10px;
}

.text-content {
display: flex;
flex-direction: column;
}

.title {
font-weight: bold;
}

.subtitle {
font-size: 0.9em;
color: #b3b3b3;
}
/* playlistscroll */
.playlist-wrapper {
display: flex;
align-items: center;
gap: 10px;
width: 95%;
padding: 20px;
}

.scroll-container {
display: flex;
position: relative;
overflow-x: hidden; 
gap: 2px;
scroll-behavior: smooth;
width: 100%;
padding: 10px;
}

.playlist-item {
display: flex;
flex-direction: column;
align-items: center;
min-width: 200px;
background-color: rgba(0, 0, 0, 0);
border-radius: 8px;
padding: 10px;
}
.playlist-item:hover {
background-color: rgba(255, 255, 255, 0.1);
}
.song .playlist-item img {
width: 200px;
height: 200px;
border-radius: 8px;
border: 2px solid #333; 
}
.artist .playlist-item img {
width: 200px;
height: 200px;
border-radius: 100%;
border: 2px solid #333; 
}

.text-content {
color: white;
margin-top: 10px;
text-align: center;
}

/* .playlist-item {
display: flex;
flex-direction: column;
align-items: center;
background-color: rgba(0, 0, 0, 0);
border-radius: 8px;
padding: 10px;
text-align: center;
} */

.playlist-title {
font-weight: bold;
margin-bottom: 5px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis; /* Dấu "..." nếu văn bản quá dài */
max-width: 100%; /* Đảm bảo không vượt quá kích thước cha */
}

.playlist-description {
color: #f1eeee;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis; 
max-width: 100%;
}


.scroll-btn {
background-color: #333;
color: rgb(57, 57, 65);
border: none;
padding: 10px 10px;
cursor: pointer;
font-size: 18px;  
border-radius: 5px;
}

.scroll-btn:hover {
background-color: #555;
}

/* MusicPlayer */
.musicPlayer{
display: flex;
}

.musicPlayer .left,
.musicPlayer .right,
.musicPlayer .center {
flex: 1;
text-align: center;
height: 100%;
align-items: center;
}

.musicPlayer .center {
flex: 2;
}

.musicPlayer .left {
display: flex;
}

.musicPlayer .left img {
height: 100%;
width: auto;
aspect-ratio: 1 / 1;
border-radius: 4px;
margin: 0px 20px;
}

.musicPlayer .text-content {
text-align: left;
}
.song-name {
font-size: 20px; 

}

.artist-name {
font-size: 14px; 
color: gray; 
}

/* RightContent */
.right-content img {
width: 100%;
height: auto;
}

.right-content .text-content{
text-align: left;
padding-left: 5px;
}