.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000; /* Spotify dark background */
    color: white;
    margin: 0px;
  }
  
  .home-content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  .main-outlet {
    flex: 1;
    overflow-y: auto;
    background-color: #121212;
    border-radius: 10px;
    margin: 0px 10px 10px 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
  }